#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:hover{
  border-color: #2471d6;
  box-shadow: 0 0 5px rgba(36, 113, 214, 0.5);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  border: 1px #fff solid;
  padding: 30px;
}

/* .main-container Input{
  width: 120px;
} */

.todo-list{
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: left;
  margin-top: 2rem;
  color: black;
}

.todo-list ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  border: 1px solid #ccc;
}

.todo-list li{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
}

.todo-list li.completed{
  text-decoration: line-through;
  color: grey;
  font-weight: normal;
}

.todo-list li.completed:hover{
  color: grey;
  text-decoration: line-through;
  cursor: default;
}

button{
  margin-left: 10px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #2471d6;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #1A5276;
}
button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}
button:disabled:hover{
  background-color: #ccc;
}

#checkboxx{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

#main-container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* align-items: center; */
  background-color: rgb(57, 9, 172);
  border: 1px black solid;
  padding: 50px;
  border-radius: 7%;
  color: #ffff;
}

#main-container h1{
  font-size: 40px;
  margin-bottom: 10px;
  color: #ffff;
  text-shadow: 2px 2px 4px #a38d8d;
}

/* #main-container Input{
  width: 400px;
  height: 50px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  box-sizing: border-box;
  color: black;
  background-color: #ffff;
  transition: border-color 0.3s, box-shadow 0.3s;
} */